<footer class="color-black">
    <div class="container">
      <div class="row py-4 border-bottom border-light">
        <div class="col-lg-4">
          <h3 class="text-light pb-2"> &copy; Niket Dewangan, 2020</h3>
          <h5 class="text-light">Build at Thruskills</h5>
        </div>
        <div class="col-lg-4  col-6">
          <h3 class="text-light pb2">Links</h3>
          <ul class="list-group list-unstyled">
            <li><a class="text-light" href="/project">Projects</a></li>
            <li><a class="text-light" href="/blog">Blog</a></li>
            <li><a class="text-light" href="/about">About</a></li>
            <li><a class="text-light" href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-6  text-center">
          <h3 class="text-light pb-2">Follow us</h3>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.instagram.com/the._adolf_hitler/" class="text-light font-size-35"> <i class="fab fa-instagram"></i> </a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/niket.dewangan.11" class="text-light font-size-35"> <i class="fab fa-facebook-square"></i> </a></li>
            <li class="list-inline-item"><a href="#" class="text-light font-size-35"> <i class="fab fa-linkedin"></i> </a></li>
        </div>
      </div>
      <div class="text-center text-light py-3">
        <span>&copy; Niket Dewangan batch(nov-feb 2020)</span>
      </div>
    </div>
    <!-- Jquery & Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </footer>