<main>
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">


                    <img class="img-fluid p-2 profile-pic" src="/images/profile.jpeg">

                    <hr>

                    <div class="sidebar-social">
                        <h2>Social Profiles</h2>
                        <ul class="list-unstyled d-flex">
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.linkedin.com/in/niket-dewangan-281188140/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://github.com/niketdewangan">
                                    <i class="fab fa-github-square"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.facebook.com/niket.dewangan.11">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.instagram.com/the._adolf_hitler/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <hr>

                    <div class="sidebar-social">
                        <h2>Resources</h2>
                        <ul class="list-unstyled d-flex">
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://nodejs.org/en/">
                                    <i class="fab fa-node-js"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://javascript.info/">
                                    <i class="fab fa-js-square"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://html5.org/">
                                    <i class="fab fa-html5"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="http://www.css3.com/">
                                    <i class="fab fa-css3"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.linux.org/">
                                    <i class="fab fa-linux"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <hr>
                </div>

                <div class="col-lg-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item bc-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">About</li>
                        </ol>
                    </nav>
                    <h1 class="display-4">Hello! i'm Niket Dewangan</h1>
                    <br>
                    <p>I'm looking for opportunity. I’m honest and punctual, I work well in a team but also on my
                        own as I like to set myself goals which I will achieve, I have good listening and
                        communication skills. I have a creative mind
                        and am always up for new challenges. I am well organized and always plan ahead to make sure
                        I manage my time well.</p>
                    <br>
                    <hr>

                    <h2 class="display-4">About This Project</h2>
                    <br>
                    <p>I started this project to showcase how to build a portfolio app
                        using MERN. And since then, this has been one of the makor project that always mention
                        during the sessions. This project includes all the aspects of the full stack development. A
                        very small project though but can be really good to start learning MERN.</p>
                    <br>
                    <p>I am using <a href="https://getbootstrap.com/">Bootstrap</a>, <a
                            href="https://nodejs.org/en/">Node.js</a> &amp; <a href="https://expressjs.com/">Express
                            js</a> to build this.</p>
                    <br>
                    <hr>

                    <h2 class="display-4">Project Timelines</h2>
                    <br>
                    <p style="text-align:justify;">In this section we will discuss how much time it will take to
                        build this project, followed by a steo by step guide.</p>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            <a class="bc-item" href="#" title="Static Portfolio Site">
                                Step 1: Static Portfolio Site - Using Bootstrap 4
                            </a>
                        </li>
                        <li>
                            <a class="bc-item" href="#" title="Rewrite the static site using Node">
                                Step 2: Rewrite the static site using Node, Express &amp; Handlebars
                            </a>
                        </li>
                        <li>
                            <a class="bc-item" href="#" title="Add some test data">
                                Step 3: Add some test data to make it look like a dynamic site
                            </a>
                        </li>
                        <li>
                            <a class="bc-item" href="#" title="Build all the pages">
                                Step 4: Build all the pages - home, projects, blog, about, contact
                            </a>
                        </li>
                        <li>
                            <a class="bc-item" href="#" title="Design the database - MongoDB">
                                Step 5: Design the database using MongoDB
                            </a>
                        </li>
                        <li>
                            <a class="bc-item" href="#" title="Connect to MongoDB and get data">
                                Step 6: Now we will actually display the data that comes from the DB
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>