<main>
    <div class="album py-3 bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">


                    <img class="img-fluid p-2" src="/images/profile.jpeg">

                    <hr>

                    <div class="sidebar-social">
                        <h2>Social Profiles</h2>
                        <ul class="list-unstyled d-flex">
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.linkedin.com/in/niket-dewangan-281188140/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://github.com/niketdewangan">
                                    <i class="fab fa-github-square"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.facebook.com/niket.dewangan.11">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.instagram.com/the._adolf_hitler/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <hr>

                    <div class="sidebar-social">
                        <h2>Resources</h2>
                        <ul class="list-unstyled d-flex">
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://nodejs.org/en/">
                                    <i class="fab fa-node-js"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://javascript.info/">
                                    <i class="fab fa-js-square"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://html5.org/">
                                    <i class="fab fa-html5"></i>
                                </a>
                            </li>


                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="http://www.css3.com/">
                                    <i class="fab fa-css3"></i>
                                </a>
                            </li>
                            <li class="px-1 font-size-35 ">
                                <a class="text-dark" href="https://www.linux.org/">
                                    <i class="fab fa-linux"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <hr>
                </div>

                <div class="col-lg-9">
                    <form action="/contact" method="POST" class="my-3">
                        <div class="mb-4">
                            <h1 class="h3 mb-3 font-weight-normal">Contact Me</h1>
                        </div>
                        <hr>
                        <br>
                        {{#if errors}}
                        {{#each messages}}
                        <div class="alert alert-danger" role="alert">
                            {{this}}
                        </div>
                        {{/each}}
                        {{/if}}
                        {{#if success}}
                        <div class="alert alert-success" role="alert">
                            Thank you for contacting us. We will get back at the earliest.
                        </div>
                        {{/if}}

                        <div class="form-label-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" autofocus
                                required>
                        </div>

                        <div class="form-label-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email address"
                                required>
                        </div>

                        <div class="form-label-group">
                            <label for="mobile">Mobile</label>
                            <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile"
                                required>
                        </div>

                        <div class="form-label-group">
                            <br>
                            <textarea name="description" id="description" rows="5" class="form-control"
                                placeholder="Description"></textarea>
                        </div>

                        <div class="form-label-group">
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>