/* body{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('/images/test-compressor-opacity.png');
  background-size: auto; 
} */
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-black{
  background-color: black;
}
.card-bg{
 background-color: rgba(41, 37, 37, 0.5);
}
.card-logo{
width: 100%;
position: absolute;
top: 45%;
left: 0;
}
.overlay-img{
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:rgba(12,127,222,0.95);
overflow: hidden;
width: 100%;
height: 0;
transition: .3s ease;
border-radius: .25rem
}
.text{
  padding: 10px;
}
.overlay-img:hover .overlay {
height: 100%;
}
.project-title{
  margin: 1.25rem 2rem;
  
}
.project-desc{
  margin: 0.75rem 2rem;
  font-size: 15px;

}
.sidebar{
  margin: 10px;
  padding: 10px;
  background-color:rgba(167, 216, 223, 0.4);
}
.headings{
  
  font-size: 2.5rem;
  font-weight: 600;
}
.font-roboto{
  font-family: 'Roboto Slab', serif;
}
.font-rubik-mono{
  font-family: 'Rubik Mono One', sans-serif;
}

.font-rubik{
  font-family: 'Rubik', sans-serif;
  
}
.font-size-35{
  font-size: 35px;
}
.font-size-20{
  font-size: 20px;
}
.sidebar-links{
  margin: 10px 0px;
}
.sidebar-social{
  margin: 5px 0px;
}
.custom-breadcrumb{
    padding: 10px 0px;
    display: flex;
    list-style: none 
}
.profile-pic{
  border-radius: 15px;
}
.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 9.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}
.place{
  padding: 5px;
    margin: 15px;
}
.shadow{
  box-shadow: 2px 0px 8px 0px rgb(74, 76, 77);
}